@charset "utf-8";
boton-search, boton-clear{
    padding: 5px;
    border: 1px solid grey;
    background-color: grey;
    color: black;
    display: inline-block;
    border-radius: 5px;
}
div{
    border: 1px solid gray;
    margin-left: 100px;
    margin-right: 100px;
}
.contendor{
    display: inline-block;
    border: 1px solid gray;
    margin-left: 150px;
    margin-right: 100px;
}
.superior{
    border: 1% solid gray;
    color: white;
    background-color: rgb(48, 182, 245);
    margin-left: 100px;
    margin-right: 100px;
    height: 35px; 
    vertical-align: top;
}
.usuarios{
    border: 1px solid gray;
    margin-left: 100px;
    margin-right: 100px;
}
.bot{
    border: none;
    justify-content: flex-end;
    display: flex;
  
}
table  thead{
    background: white;
    color: black;
    width: 100%;
    font-size: 18px;
    border: 1px solid gray;
}
table{
    border-collapse: collapse;
    width: 100%;
}
th, td{
    width: 10%;
    text-align: left;
    vertical-align: top;
}
table tbody tr:nth-child(odd) {
	background: white;
}
table tbody tr:nth-child(even) {
	background: grey;
}
